.border-area {
    padding-top: 90px;
    padding-bottom: 74px;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    font-size: 1.5rem;
    &__heading {
        margin-bottom: 47px;
        font-size: 2.6rem;
        line-height: 1.2308;
        text-align: center;
    }
    &__horizontal-table {
        max-width: 880px;
        margin-right: auto;
        margin-left: auto;
    }
}