@use './../base/mediaquery' as md;

.fv-slide {
    position: relative;
    height: 100vh;
    overflow: hidden;
    &__item {
        z-index: 10;
        opacity: 0;
        width: 100%;
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        animation: anime 30s 0s infinite;
        &:nth-of-type(2) {
            animation-delay: 10s;
        }
        &:nth-of-type(3) {
            animation-delay: 20s;
        }
    }
    @keyframes anime {
        0% {
          opacity: 0;
        }
        5% {
          opacity: 1;
        }
        28% {
          opacity: 1;
        }
        43% {
          opacity: 0;
          transform: scale(1.05);
          z-index: 9;
        }
        100% {
          opacity: 0;
        }
    }
    &__content {
        width: 153px;
        position: absolute;
        top: 32.9%;
        right: 26.458%;
        z-index: 11;
        color: #fff;
        font-size: 3.4rem;
        font-weight: 800;
        @include md.s-pc {
          top: 60%;
          transform: translateY(-50%);
        };
        @include md.sp {
          top: 60%;
          right: 50%;
          transform: translate(50%, -50%);
          font-size: 2.4rem;
        };
    }
}

.fv-slide--verticle-text {
    .fv-slide__content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .fv-slide__text {
        writing-mode: vertical-rl;
        margin-left: 51px;
        letter-spacing: 8px;
        font-weight: 800;
        @include md.sp {
          margin-left: 20px;
        };
        &:last-child {
            margin-left: 0;
        }
    }
}