@use '../base/mediaquery' as md;

.humburger-btn {
    display: none;
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    background-color: transparent;
    position: fixed;
    right: 0;
    top: 5px;
    z-index: 120;
    @include md.sp {
        display: block;
    };
    &.white {
        .humburger-btn__line {
            background-color: #000;
        }
        .humburger-btn__line::before,
        .humburger-btn__line::after {
            background-color: #000;
        }
    }
    .humburger-btn__line {
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &::before {
            content: '';
            width: 30px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            transition: transform .5s; 
        }
        &::after {
            content: '';
            width: 30px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            transition: transform .5s; 
        }
    }
}

.humburger-btn.cross {
    .humburger-btn__line {
        background-color: rgba(255,255,255,0);
        transition: background-color .5s;
        &::before {
            background-color: #fff;
            transform: translate(-50%,11px) rotate(45deg);      
            transition: transform .5s;
            z-index: 120;
        }
        &::after {
            background: #fff;
            transform: translate(-50%,-9px) rotate(-45deg);      
            transition: transform .5s;
            z-index: 120;
        }
    }
}

.humburger-nav-wrapper {
    display: none;
    width: 100vw;      
    height: 100vh;      
    position: fixed;      
    top: 0;      
    left: 0;       
    z-index: 110;
    .humburger-nav {
        width: 100%;        
        height: 100%;        
        background-color: rgba(0,0,0,0.8);       
        .humburger-nav_list {
            display: block;        
            position: absolute;        
            top: 50%;        
            left: 50%;        
            transform: translate(-50%,-50%);        
            text-align: center;
            .humburger-nav_item {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: #fff;
                    font-size: 2.4rem;
                }
            }
        }
    }
}