@use './../base/mediaquery' as md;

.small-fv {
    width: 100%;
    height: 500px;
    margin-top: 80px;
    background-size: cover;
    background-position: center;
    position: relative;
    @include md.sp {
        height: 400px;
        margin-top: 60px;
    };
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &__text {
        color: #fff;
        font-size: 3.4rem;
        font-weight: 800;
        line-height: 1.2353;
    }
}